<nav-header></nav-header>
<button data-bs-toggle="modal" data-bs-target="#exampleModal" id="capture" class="d-none"></button>
<section class="mt-5 py-5 px-4 row mx-0" *ngIf="pending.length>0">
    <!-- filter -->
    <div class="py-1">
        <mat-form-field appearance="fill" class="p-2 col-sm-12 col-md-2">
            <mat-label>Search</mat-label>
            <input matInput type="search" [(ngModel)]="filter" (keyup)="search(filter,$event)">
        </mat-form-field>
    </div>
    <!-- cards -->
    <div *ngFor="let patient of pending;let i=index" class="p-2 col-sm-12 col-md-6 col-lg-3">
        <card-pending [data]="patient" (setData$)="getSelected($event,i)"></card-pending>
    </div>

</section>
<!-- no cards -->
<section class="w-100 min-vh-100 d-flex justify-content-center align-items-center" *ngIf="pending.length==0">
    <h1 class="fs-1">{{loading?'Loading...':'No Reports Pending'}}</h1>
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status" *ngIf="loading">
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Result Capture</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="modal-body row mx-0" [formGroup]="information" *ngIf="selected['patientId']">
                <!-- name -->
                <div class="p-2 d-flex flex-column align-items-start col-sm-12 col-md-6">
                    <small class="text-muted">Name</small>
                    <span class="mb-0 h6">{{selected['patientId'].firstName}} {{selected['patientId'].middleName}} {{selected['patientId'].lastName}}</span>
                </div>
                <!-- email -->
                <div class="p-2 d-flex flex-column align-items-start col-sm-12 col-md-6">
                    <small class="text-muted">Email</small>
                    <span class="mb-0 h6">{{selected['patientId'].email}}</span>
                </div>
                <!-- passport -->
                <div class="p-2 d-flex flex-column align-items-start col-sm-12 col-md-6">
                    <small class="text-muted">Passport</small>
                    <span class="mb-0 h6">{{selected['patientId'].passportNo}}</span>
                </div>
                <!-- date of birth -->
                <div class="p-2 d-flex flex-column align-items-start col-sm-12 col-md-6">
                    <small class="text-muted">Date of birth</small>
                    <span class="mb-0 h6">{{selected['patientId'].dateOfBirth | date:'longDate'}}</span>
                </div>
                <!-- Date of sample -->
                <mat-form-field appearance="fill" class="p-2 col-sm-12 col-md-6">
                    <mat-label>Date of sample</mat-label>
                    <input matInput type="date" formControlName="dateOfSample" [max]="information.value['dateReport']">
                </mat-form-field>
                <!-- hour of sample -->
                <mat-form-field appearance="fill" class="p-2 col-sm-12 col-md-6">
                    <mat-label>Hour of sample</mat-label>
                    <input matInput type="time" formControlName="hourOfSample">
                </mat-form-field>
                <!-- Date of report -->
                <mat-form-field appearance="fill" class="p-2 col-sm-12 col-md-6">
                    <mat-label>Date of report</mat-label>
                    <input matInput type="date" formControlName="dateReport" [min]="information.value['dateOfSample']">
                </mat-form-field>
                <!-- hour of report -->
                <mat-form-field appearance="fill" class="p-2 col-sm-12 col-md-6">
                    <mat-label>Hour of report</mat-label>
                    <input matInput type="time" formControlName="hourReport">
                </mat-form-field>
                <!-- Result -->
                <mat-form-field appearance="fill" class="p-2 col-sm-12 col-md-6">
                    <mat-label>Result</mat-label>
                    <mat-select formControlName="result">
                        <mat-option value="positive">Positive</mat-option>
                        <mat-option value="negative">Negative</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- logo report -->
                <section class="example-section">
                    <mat-checkbox class="example-margin" formControlName="removeLogo">Remove logos from report</mat-checkbox>
                  </section>

            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    id="close-capture" [disabled]="loading">Close</button>
                <button type="button" class="btn btn-primary" (click)="save()" [disabled]="information.invalid || loading">
                    {{loading ? 'Saving':'Save'}}
                <div class="spinner-grow text-light spinner-grow-sm" role="status" *ngIf="loading">
                    <span class="visually-hidden">Loading...</span>
                </div>
                </button>
            </div>
        </div>
    </div>
</div>