<div class="py-5 px-10-rem alert-secondary min-vh-100">
    <div class="p-5 bg-white" id="MyDIv" >
        <!-- general information -->
        <section class="row mx-0 justify-content-between ">
            <div class="col-6">
                <img src="../../../assets/icons/logo.png" height="120" class="logo">
            </div>
            <div class="d-flex flex-column align-items-center col-6">
                <b class="mb-0 h4 text-end">Doctor Puerto Vallarta</b>
                <label class="mb-0 w-100 text-end">Lázaro Cárdenas 270</label>
                <label class="mb-0 w-100 text-end">Col. Emiliano Zapata, CP 48380</label>
                <label class="mb-0 w-100 text-end">Puerto Vallarta, Jalisco</label>
                <label class="mb-0 w-100 text-end">México</label>
            </div>
        </section>
        <!-- results -->
        <section class="d-flex justify-content-between row mx-0 py-5 ">
            <div class="d-flex flex-column align-items-center col-sm-12 col-md-6 ">
                <!-- patient -->
                <div class="row mx-0 justify-content-between w-100 py-1">
                    <b class="col-sm-12 col-md-6">Patient:</b>
                    <b class="col-sm-12 col-md-6">CHARLES THOMAS MC SWEENEY JR</b>
                </div>
                <!-- date of birth -->
                <div class="row mx-0 justify-content-between w-100 py-1">
                    <b class="col-sm-12 col-md-6">Date of Birth:</b>
                    <span class="col-sm-12 col-md-6">23 APR 1970</span>
                </div>
                <!-- gender -->
                <div class="row mx-0 justify-content-between w-100 py-1">
                    <b class="col-sm-12 col-md-6">Gender:</b>
                    <span class="col-sm-12 col-md-6">M</span>
                </div>
                <!-- ROOM -->
                <div class="row mx-0 justify-content-between w-100 py-1">
                    <b class="col-sm-12 col-md-6">Room:</b>
                    <span class="col-sm-12 col-md-6">PEIR 57</span>
                </div>
                <!-- Passport -->
                <div class="row mx-0 justify-content-between w-100 py-1">
                    <b class="col-sm-12 col-md-6 ">Passport Number:</b>
                    <span class="col-sm-12 col-md-6 ">558294516</span>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center col-sm-12 col-md-6 ">
                <!-- Lab ID Number -->
                <div class="row mx-0 justify-content-between w-100 py-1">
                    <b class="col-sm-12 col-md-6 ">Lab ID Number:</b>
                    <b class="col-sm-12 col-md-6 ">22841</b>
                </div>
                <!-- Date/Time of sample -->
                <div class="row mx-0 justify-content-between w-100 py-1">
                    <b class="col-sm-12 col-md-6 ">Date/Time of sample:</b>
                    <span class="col-sm-12 col-md-6 ">23 APR 1970 <b>HRS</b> 11:00</span>
                </div>
                <!-- Date/Time of report -->
                <div class="row mx-0 justify-content-between w-100 py-1">
                    <b class="col-sm-12 col-md-6 ">Date/Time of report:</b>
                    <span class="col-sm-12 col-md-6 ">23 APR 1970 <b>HRS</b> 11:00</span>
                </div>
                <!-- ROOM -->
                <div class="row mx-0 justify-content-between w-100 py-1">
                    <b class="col-sm-12 col-md-6 ">Sample:</b>
                    <span class="col-sm-12 col-md-6 ">Nasopharyngeal Exudates</span>
                </div>
            </div>
        </section>
        <!-- sample -->
        <section class="row mx-0 justify-content-center">
            <div class="border border-start-0 border-bottom-0 col-sm-8
            border-end-0 d-flex justify-content-center py-2 border-4 border-dark">
                <b>SARS-CoV-2 QUALITATIVE OF THE ANTIGEN (Ag)</b>
            </div>
            <div class="row mx-0 justify-content-between">
                <!-- sample -->
                <div class="row mx-0 col-sm-12 col-md-4 px-0 text-center py-4">
                    <label class="border border-top-0 border-start-0 h6
                    border-end-0 border-4 border-dark">Sample</label>
                    <label class="pt-5">Sars-CoV-2 Antigen (Ag)</label>
                </div>
                <!-- result -->
                <div class="row mx-0 col-sm-12 col-md-4 px-0 text-center py-4">
                    <label class="border border-top-0 border-start-0 h6
                    border-end-0 border-4 border-dark">Result</label>
                    <label class="pt-5">NEGATIVE</label>
                </div>
                <!-- sample -->
                <div class="row mx-0 col-sm-12 col-md-4 px-0 text-center py-4">
                    <label class="border border-top-0 border-start-0 h6
                    border-end-0 border-4 border-dark">Reference Value</label>
                    <label class="pt-5">NEGATIVE</label>
                </div>
            </div>
            <label for="" class="my-2 border border-top-0 border-start-0 h6
            border-end-0 border-2">Method: IMMUNNOCHROMATOGRAPH</label>
            <p>The test provides premilimary analysis results.
                Negative results do not exclude SARS-CoV-2 infection and
                cannot be used as the sole basis for treatment or other
                management decisions. Negative results should be combined
                with clinical observations, patient history,
                and epidemiological information.</p>
        </section>
        <!-- form -->
        <section class="d-flex w-100 justify-content-center py-5">
            <img src="../../../assets/icons/firm.png" height="100">
        </section>
        <!-- footer -->
        <section class="row mx-0 justify-content-between ">
            <div class="d-flex flex-column align-items-center col-6">
                <small class="text-left w-100">Doctor Puerto Vallarta</small>
                <small class="text-left w-100 text-primary">www.doctorpuertovallarta.com</small>
                <small class="text-left w-100 text-primary">support@doctorpuertovallarta.com</small>
                <small class="text-left w-100">+52 (33) 25079602</small>
                <small class="text-left w-100">Lázaro Cárdenas 270, zona Romántica,
                    Col. Emiliano Zapata, CP 48380.</small>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <img id="image" src="../../../assets/icons/logo.png" height="120" class="logo">
            </div>
        </section>
    </div>
    <button (click)="generateImage()">perro</button>
    <!-- <button (click)="captureScreen()"> foto</button> -->
</div>

<!-- <div id="MyDIv" style="margin-left: 45px;" class="main-container">
    <p>pending works!</p>
    <ngx-qrcode [elementType]="type" [value]="value" [errorCorrectionLevel]="error">
    
    </ngx-qrcode>
</div>
<button (click)="generateImage()">PDF</button> -->