<nav-header></nav-header>
<button data-bs-toggle="modal" data-bs-target="#exampleModal" id="capture" class="d-none"></button>
<section class="mt-5 py-5 px-4 row mx-0 " *ngIf="captured.length>0">
    <!-- filter -->
    <div class="py-1">
        <mat-form-field appearance="fill" class="p-2 col-sm-12 col-md-2">
            <mat-label>Search</mat-label>
            <input matInput type="search" [(ngModel)]="filter" (keyup)="search(filter,$event)">
        </mat-form-field>
    </div>
    <!-- cards -->
    <div *ngFor="let patient of captured;let i=index" class="p-2 col-sm-12 col-md-6 col-lg-3">
        <card-captured [data]="patient" (setData$)="getSelected($event,i)"></card-captured>
    </div>
</section>
<!-- no cards -->
<section class="w-100 min-vh-100 d-flex justify-content-center align-items-center" *ngIf="captured.length==0">
    <h1 class="fs-1">{{loading?'Loading...':'No Reports Captured'}}</h1>
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status" *ngIf="loading">
    </div>
</section>
