/* You can add global styles to this file, and also import other style files */
// @import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
$active: #ff4081;

@mixin imageWallpaper($image,$xPosition,$yPosition,$size){
    background-image: $image;
    background-position-x: $xPosition;
    background-position-y: $yPosition;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: $size;
}

.bg-wallpaper-login{
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.4);
     @include imageWallpaper(url(./assets/wallpaper/montain.jpg),center,center,cover)
}

.top-0{
    top: 0;
}
.left-0{
    left: 0;
}
.z-index-1{
    z-index: 1;
}
.active{
    color: $active !important;
}
.cdk-overlay-container{
    z-index: 2000 !important;
}
.px-10-rem {
    padding: 3rem 10rem!important;
}
.qr-code{
    img{height: 150px;}
}
@media (max-width: 1024px) {
    .px-10-rem {
        padding: 1rem!important;
    }
    .responsive-p-5{
        padding: 0.5rem!important;
    }
    .image-responsive{
        height: 80px;
    }
    .text-responsive{
        b{font-size: 0.7rem;}
        label,small,span,p{font-size: 0.6rem;}
    }
    .justify-content-center-sm{
        justify-content: center !important;
    }
}
